.container-fumetto{
    width: 70%;
    margin: auto;
    //border: 2px solid black;
    padding-top: 10px;
    
    img{
        width: 70%;
        height: 100%;
    }
    .price{
        padding: 5px;
        border-radius: 10px;
        background-color: green;
    }
}