.background{
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.container-background{
    background-color: black;  
    padding-bottom: 20px;  
    .container-card{
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        .current-series{
            position: absolute;
            color: white;
            background-color: blue;
            padding: 10px;
            top: -15px;
            left: 60px;
        }
        .box-card{
            width: calc(100% / 6);
            display: flex;
            align-items: center;
            flex-direction: column;
            h3{
                font-size: 12px;
                color: white;
                margin-top: 5px;
                width: 60%;
                text-align: center;
            }
            img{
                width: 60%;
            }
        }
    }
}